p {
  font-family: "zingiber-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: seashell;
}
img {
  border: 5px burlywood solid;
  border-radius: 20px;
}